<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/"><i class="fas fa-home"></i> Stimmung</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-file-alt"></i> FOO</a>
      </li>
    </ul>
  </div>
</nav>
