<link rel="stylesheet" href="css/home.css">

<div class="card text-center">
  <div class="card-header">
     <h1>... die Stimmung kippt! - v0.1</h1>
  </div>
  <div class="card-body">
    <div class="card-text">
      CARD TEXT
    </div>
  </div>
  <div class="card-footer text-muted">
    CARD FOOT
  </div>
</div>

<script src="js/home.js"></script>
